*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

header{
    background:#0077cc;
    color:white;
    padding:5px;
    text-align:center;
}

nav{
    margin-top:1px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:1px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:2px 10px;
}

.hero h2{
    font-size:20px;
    margin-bottom:5px;
}

.hero p{
    font-size:18px;
    margin-bottom:10px;
}

button{
    background:#0077cc;
    color:white;
    border:none;
    padding:12px 25px;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#005fa3;
}
footer {
    background: blueviolet;
    color: green;
text-align:bottom;
}
#bookList{
    list-style: none;
    padding: 0;
}

#bookList li{
    text-align: center;
    margin: 15px 0;
}

#bookList button{
    background: #0077cc;
    color: white;
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}