*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f5f5;
}

header{
    background:#0077cc;
    color:white;
    padding:5px;
    text-align:center;
}

nav{
    margin-top:1px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:1px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.hero{
    text-align:center;
    padding:10px 10px;
}

.hero h2{
    font-size:20px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    margin-bottom:3ppx;
}

button{
    background:#0077cc;
    color:white;
    border:none;
    padding:20px 50px;
    font-size:18px;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#005fa3;
}

#bookList{
    list-style: none;
    padding: 0;
}

#bookList li{
    text-align: center;
    margin: 15px 0;
}
.logo-box{
    text-align:center;
    margin-bottom:20px;
}

.logo-circle{
    width:90px;
    height:90px;
    margin:0 auto 10px;
    border-radius:50%;
    background:#ffffff;
    color:#0d6efd;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:48px;
    box-shadow:0 4px 10px rgba(0,0,0,.25);
}

.tagline{
    color:#fff;
    font-size:16px;
    margin-top:5px;
    letter-spacing:1px;
}
#bookList button{
    background: #0077cc;
    color: white;
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0077cc;
    color: white;
    text-align: center;
    padding: 10px;
}